@{
    ViewBag.Title = "Control";
}

<h2>Control of Products</h2>

<table>
    <thead>
        <tr> 
            <th> Identifier </th>
            <th> Name </th>
            <th> Quantity </th>
            <th> Discontinued </th>
            <th> Category </th> 
        </tr>
    </thead>
    <tbody>
        @foreach( var produto in Model)
        {
           <tr>
               <td>@produto.Id</td>
               <td>@produto.Name</td>    
               <td>@produto.Quantity</td>            
               <td>@produto.Discontinued</td>                  
               <td>@produto.Category.Name</td>               
              
               </tr>             
        }
              
    </tbody>


</table>