@{
    ViewBag.Title = "Put Out";
}




<div id="company-choose">
    <h1>Make one Out</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th colspan="2">Name of Company</th>                
                <th>Date </th>
                <th>Include Item</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <form name="ItemOutPutsForm" action="../Product/ProcessAddOutPut" method="post">

                <td>
                    <label>@Model[0].Id</label>
                </td>
                <td>
                    <label>Company:</label>
                </td><td>
                    <select name="companyId">
                        <option Value="@Model[0].Company.Id">@Model[0].Company.Name </option>

                    </select></td>
                <td>
                    <input type="date" name="date" value="@Model[0].Date" readonly="true"/></td>
                </td><td>
                    <input type="button" name="button" id="alter-quantity" value="+" />
                </td>

                <td>
                    <div id="itens">&nbsp;</div>
                </td>
            </tr>
            </form>
        </tbody>
    </table>
</div>
<!--On here is finish of div company-choose -->

<div id="dialog-form" title="Quantity on given outPut">
    <p class="validateTips">All form fields are required.</p>
<ul style="list-style:none;"><fieldset>
     <form id="itemOutPutDialog" name="itemOutPutDialog"  method="post" action="../Product/ProcessItensOut">
       <li>
            <label for="quantityName">Product</label>

            <select name="productId">
                @foreach (var product in Model[1])
                         {
                    <option Value="@product.Id" id="product">@product.Name </option> }
            </select><br />
           </li><li>
            <label for="quantityOut">OutPut in ?<input type="text" name="quantity" id="quantity" size="15" class="text ui-widget-content ui-corner-all" /></label>
            </li>
    </form>
    </fieldset>
    </ul>
</div>


<script type="text/javascript">
    $(function () {
        var quantity = $("#quantity"),
        allFields = $([]).add(quantity),
        tips = $(".validateTips");
        function updateTips(t) {
            tips
            .text(t)
            .addClass("ui-state-highlight");
            setTimeout(function () {
                tips.removeClass("ui-state-highlight", 1500);
            }, 500);
        }
        function checkLength(o, n, min, max) {
            if (o.val().length > max || o.val().length < min) {
                o.addClass("ui-state-error");
                updateTips("Length of " + n + " must be between " +
                min + " and " + max + ".");
                return false;
            } else {
                return true;
            }
        }
        function checkRegexp(o, regexp, n) {
            if (!(regexp.test(o.val()))) {
                o.addClass("ui-state-error");
                updateTips(n);
                return false;
            } else {
                return true;
            }
        }
        $("#dialog-form").dialog({
            autoOpen: false,
            height: 300,
            width: 400,
            modal: true,
            buttons: {
                Send: function () {
                    var bValid =
                    allFields.removeClass("ui-state-error");
                    bValid = bValid && checkLength(quantity, "quantity", 1, 16);
                    bValid = bValid && checkRegexp(quantity, /([0-9])/, "Quantity may consist of 0-9, underscores, begin with a letter.");

                    if (bValid) {
                        ProcessItens();                        
                        $(this).dialog("close");
                    }
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {
                allFields.val("").removeClass("ui-state-error");
            }
        });
       
        $("#alter-quantity")
     .button()
     .click(function () {
         $("#dialog-form").dialog("open");
     });
    });

  
    function ProcessItens() {
        var params = {
            quantity: $("#quantity").val(),
            productId: $("#product").val()
        };
               
        $.ajax({
            type: "POST",
            url:"@Url.Action("ProcessItensOut")",            
            success: ProcessItens,
            data: params,
            dataType: "html"
        }).fail(test());
    }
 
    function test() {

        alert("bobo");
    }
  
  
</script>
